* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f3;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;
    background-color: #008080;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px;;
}

.logo {
    display: flex;
    align-items: center;
}

.logo div:nth-child(1) {
    width: 40px;
    height: 40px;
    background-image: url(Images/Logo.png);
    background-position: center;
    background-size: cover;
}

.logo div:nth-child(2) {
    font-size: 2.25rem;
    font-weight: 1000;
    color: #ffffff;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.open-button {
    border: 0px;
    padding: 2.5px 10px;
    font-size: 1.5rem;
    font-weight: 900;
    border: 1px solid black;
    border-radius: 17px;
    color: black;
}

.open-button:hover {
    background-color:#008080 ;
    color: #ffffff;
    border: 0px;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

.cards-section {
    flex-grow: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer { 
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 0.8rem;
}

.footer img {
    width: 15px;
    height: 15px;
}

.card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 7.5px;
    background-color: #ecf0f3;
    box-shadow: 6px 6px 13px #cbced1,
                -6px -6px 13px #ffffff;
    border-radius: 30px;
}

.bgc-image {
    height: 110px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(Images/card-bgc.png);
    background-position: center;
    background-position-y: 135px;
    background-size: cover;
}

.card-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book {
    margin: 10px 0 10px 0;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: 'Roboto';

    background-color: #ecf0f3;
    box-shadow: inset 3px 3px 3px #cbced1,
                inset -3px -3px 3px #ffffff;
    border-radius: 20px;
}

.book > p {
    padding: 3px 10px;
    margin: 6px 0;
    text-align: center;
}

.card-btns {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card-btns button {
    font-size: 1.15rem;
    font-weight: 1000;
    font-family: 'Roboto';;
    border: none;
    padding: 5px 20px;

    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
    border-radius: 20px;
}

.card-btns button:nth-child(1):hover {
    color: #e54c38;
}

.card-btns button:nth-child(2):hover {
    color: rgb(76, 193, 235);
}

.modal {
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    border: 0px;
    padding: 12.5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    height: 250px;
    gap: 15px;
}

.close-button {
    align-self: end;
    border-radius: 50%;
    width: 32.5px;
    height: 32.5px;
    font-size: 1rem;
    border: 0px;
    font-weight: 900;
    background-color: #f8858b;
    text-align: center;
}

.close-button:hover {
    background-color: #e54c38;
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    color: #ffffff;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
    height: 150px;
}

.inputs div {
    display: flex;
    justify-content: space-between;
    width: 310px;
}

#status {
    width: 175px;
    height: 27.4px;
}

label {
    font-weight: 900;
}

input {
    width: 175px;
    height: 27.4px;
}

input:focus, select:focus {
    border: 2.25px solid rgb(37, 150, 190);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

input, select {
    border: 1px solid rgba(94, 90, 81, 0.4);
    font-size: 1rem;
    padding: 2.5px 9px;
    border-radius: 15px;
}

.submit-book {
    border: 0px;
    padding: 5px 12px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 15px;
    background-color: rgb(134, 219, 250);
}

.submit-book:hover {
    background-color: rgb(76, 193, 235);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
    color: #ffffff;
}